@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main-container{
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.wrapper{
  width: 70vmin;
  height: max-content;
  border: 2px solid black;
  padding: 5px;
}
#search{
  padding: 10px;
  outline: none;
}
.search-users{
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-bottom: 1rem ;
}
.user-cards{
  max-height: 230px;
  overflow: scroll;
}
.cards{
  padding: 10px;
  border: 1px solid black;
  margin-bottom:.3rem ;
  cursor: pointer;
}
.mailid{
  color: #777;
  font-size: .8rem;
}
.hide{
  display: none;
}